# =========================
# 🧠 Python general
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================
# 🧪 Testing / coverage
# =========================
.coverage
.coverage.*
.pytest_cache/
htmlcov/
.tox/
.nox/

# =========================
# 📦 Build / packaging
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# 🌱 Entornos virtuales (CRÍTICO)
# =========================
venv/
.venv/
env/
ENV/
cnn/
env.bak/
venv.bak/

# =========================
# 🔐 Variables sensibles
# =========================
.env
.env.*
*.env

# =========================
# 📓 Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# 🧰 IDEs / editores
# =========================
.vscode/
.idea/

# =========================
# 🧠 ML / DL (IMPORTANTE)
# =========================
# NO ignorar artifacts porque necesitas el modelo
# artifacts/

# =========================
# 🐳 Docker
# =========================
docker-compose.override.yml

# =========================
# 🧾 Logs
# =========================
*.log

# =========================
# ⚙️ Sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# 🚫 Extras innecesarios
# =========================
.pdm-python
.pdm-build/
.pixi
__pypackages__/
.ruff_cache/
.mypy_cache/
.pyre/
.pytype/